%h1
  .small= @bonum.boy.name
  - if @bonum.name.nil?
    None
  - else
    = @bonum.name

%div.row
  %div.col-md-6.col-xs-12
    %h2 Details
    %p
      %b Reported by:
      = @bonum.reporter.name
    %p
      %b Summary:
      = @bonum.summary
    %p
      %b Reported On:
      = @bonum.created_at.strftime("%e %b '%y")

  %div.col-md-6.col-xs-12
    %h2 Leaves
    %ul.list-group
      =leaf_list_item(@bonum)


= link_to 'Edit', edit_boy_bonum_path(@boy, @bonum), :class => "btn btn-primary"