%tr
  %td
    %strong= link_to template.name, template
    %p= template.description || 'No template Description.'
    %p= link_to "Create Event with this Template", new_event_path() + "?tid=#{template.id}", :target => "_blank"
  %td= template.service
  %td= template.heritage
  %td= template.hobbies
  %td= template.life_skills
  %td= template.outdoor_activities
  %td= template.pioneer_skills
  %td= template.sci_tech
  %td= template.values