.row.valign-wrapper
  .col.s12.m8.valign
    =title("Templates")

    %dd
      %dt Note:
      %dd hover your cursor over the heading for a more complete description of the branch.

  .col.s12.m4.valign.right-align
    = link_to micon('add'), new_template_path, {class: 'btn-floating btn-large waves-effect waves-light'} if can? :create, Template

%ul#toc
  %li= link_to "Fox Templates", "#fox"
  %li= link_to "Hawk Templates", "#hawk"
  %li= link_to "Lion Templates", "#lion"

- [:fox, :hawk, :lion].each do |rank|
  %h2{:id => rank.to_s}
    = rank.to_s.titleize
    Event Templates

  %p
    To use a template to create an event, click the "Create Event from Template" link. That will open a new window and create the event. You will then need to edit the date to coincide with when you scheduled the templated event.

  %ul
    %li= link_to "Back to top", "#toc"
    %li= link_to "Fox Templates", "#fox"
    %li= link_to "Hawk Templates", "#hawk"
    %li= link_to "Lion Templates", "#lion"


  %table.striped.bordered.dev
    %thead
      %tr
        %th.col.s4 Event
        =render :partial => 'shared/leaf_header'
    %tbody
      = render :partial => @templates[rank], :locals => {:rank => rank}

= link_to 'New Template', new_template_path, :class => "btn btn-primary"
