%h1= "#{@patrol.pack.name}: #{@patrol.name}"

%ul.list-group
  - @patrol.boys.each do |d|
    %li.list-group-item= link_to d.name, d.becomes(Boy)

= link_to 'Edit', edit_patrol_path(@patrol)
\|
= link_to 'Back', patrols_path
