= form_for(user) do |f|
  %tr
    %td
      = link_to user.name, user
      %br/
      = mail_to user.email, user.email, subject: "Your Leaf Tracker Account"
      %br
      = time_ago_in_words(user.last_sign_in_at)
      (#{user.sign_in_count})
    %td= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]},{},:class => 'browser-default' )
    %td= f.submit micon('swap_vert'), :class => 'btn waves-effect waves-light'
    %td
      = link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') unless user == current_user