%th.col.s1.center.bg-brown=    tooltip('H', 'Heritage Branch')
%th.col.s1.center.bg-burgundy= tooltip('L', 'Life Skills Branch')
%th.col.s1.center.bg-yellow=   tooltip('T', 'Science & Technology Branch')
%th.col.s1.center.bg-black=    tooltip('B', 'Hobbies Branch')
%th.col.s1.center.bg-red=      tooltip('V', 'Values Branch')
%th.col.s1.center.bg-green=    tooltip('O', 'Outdoor Activities Branch')
%th.col.s1.center.bg-blue=     tooltip('P', 'Pioneering Skills Branch')
%th.col.s1.center=             tooltip('S', 'Service Hours')