%tr
  %th{:scope => 'row'}
    %strong= link_to event.name, event
    %span.badge= event.attendances.length
  %td.text-center= event.starts_at.strftime("%m/%d/%Y")
  %td.text-center.service= bif(event.service,"")
  %td.text-center.heritage= bif(event.heritage,"")
  %td.text-center.hobbies= bif(event.hobbies,"")
  %td.text-center.life_skills= bif(event.life_skills,"")
  %td.text-center.outdoor_activities= bif(event.outdoor_activities,"")
  %td.text-center.pioneer_skills= bif(event.pioneer_skills,"")
  %td.text-center.sci_tech= bif(event.sci_tech,"")
  %td.text-center.values= bif(event.values,"")