%tr
  %td
    %strong= link_to event.name, event
    %p= event.address
    %p 
      %strong= event.starts_at.to_formatted_s(:short)
    %p= event.description || 'No Event Description.'
  %td= event.service
  %td= event.heritage
  %td= event.hobbies
  %td= event.life_skills
  %td= event.outdoor_activities
  %td= event.pioneer_skills
  %td= event.sci_tech
  %td= event.values