= simple_form_for(@event, html: {class: 'form-horizontal' }) do |f|
  = f.error_notification
  .form-inputs
    .form-group
      = f.input :name
    = f.association :location
  
    = leaf_form(f,:heritage)
    = leaf_form(f,:hobbies)
    = leaf_form(f,:life_skills)
    = leaf_form(f,:outdoor_activities)
    = leaf_form(f,:pioneer_skills)
    = leaf_form(f,:sci_tech)
    = leaf_form(f,:values)

    = f.input :service

    = f.input :starts_at
    = f.input :ends_at
    = f.input :description

  .form-actions
    = f.button :submit
