= simple_form_for(@event, html: {class: 'form-horizontal' }) do |f|
  = f.error_notification
  .form-inputs
    .form-group
      = f.input :name
    .form-group
      = f.association :location
  
    %h3 Leaves
    .row
      .col-xs-3
        = leaf_form(f,:heritage)
      .col-xs-3
        = leaf_form(f,:hobbies)
      .col-xs-3
        = leaf_form(f,:life_skills)
      .col-xs-3
        = leaf_form(f,:outdoor_activities)
    .row
      .col-xs-3
        = leaf_form(f,:pioneer_skills)
      .col-xs-3
        = leaf_form(f,:sci_tech)
      .col-xs-3
        = leaf_form(f,:values)
      .col-xs-3
        = f.input :service

    = f.input :starts_at, as: :string
    = f.input :ends_at, as: :string
    = f.input :description

  .form-actions
    = f.button :submit

:javascript
  $('#event_starts_at').datetimepicker({dateFormat: "yy-mm-dd"});
  $('#event_ends_at').datetimepicker();