= simple_form_for(@event) do |f|
  = f.error_notification
  .form-inputs
    .form-group
      = f.input :name

    %h3 Details

    .row
      .col-xs-12.col-md-5
        .form-group
          = f.association :location, :default => 1
        .form-group.input-group.date
          = f.input :starts_at, as: :string, :required => true, :placeholder => "Select Date"
          %p.help-block Date format is important: YYYY-MM-DD
      .col-xs-12.col-md-7
        .form-group
          = f.input :description
  
    %h3 Leaves

    %p Branches explained in greater detail below the form.

    .row
      .col-xs-6.col-md-3
        = leaf_form(f,:heritage)
      .col-xs-6.col-md-3
        = leaf_form(f,:hobbies)
      .col-xs-6.col-md-3
        = leaf_form(f,:life_skills)
      .col-xs-6.col-md-3
        = leaf_form(f,:outdoor_activities)
    .row
      .col-xs-6.col-md-3
        = leaf_form(f,:pioneer_skills)
      .col-xs-6.col-md-3
        = leaf_form(f,:sci_tech)
      .col-xs-6.col-md-3
        = leaf_form(f,:values)
      .col-xs-6.col-md-3
        = f.input :service

    

  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    or
    = link_to "Cancel", :back

%h2 Branches Explained

%h3 Heritage Branch

%p An exploration of a boy’s own family heritage (Fox Patrol), American heritage (Hawk Patrol), and Christian heritage (Mountain Lion Patrol). Emphasis is placed on upholding the finest traditions of the heritage we obtain from our forefathers. This branch would include, but not be limited to, such items as visiting historical sites, learning about the early church, conducting genealogical research, and exploring American history.

%h3 Hobbies Branch

%p An exploration of various indoor and outdoor hobbies that demand varying levels of knowledge, skill, or aptitude. This branch would include, but not be limited to, such items as bowling, horticulture, photography, bird watching, model building, strategy games, creating collections, and art. Woodlands Trail program developers have responded to feedback that many hobbies are dependent on geographical areas, as well as the resources available to individual Trailmen. Therefore, additional latitude in local meeting planning has been incorporated into the program. Trail Guides are asked to plan and organize local events and overnight outings for Trailmen to learn about hobbies both common to many people and unique to the Troop’s geographical region. While some lesson plans involving hobbies have been provided, it is anticipated that most activities providing leaves for this branch would center on events planned by the local Trail Guide.

%h3 Life Skills Branch

%p Teaching life lessons ranging from the practical to higher-level interpersonal skill sets. This branch would include, but not be limited to, such items as food preparation, home or personal item repairs, construction, mechanics, public speaking, knowledge of safety practices, health and fitness, first aid, and dealing with difficult people or situations.

%h3 Outdoor Skills Branch

%p Having fun in the outdoors with sports and other activities. This branch would include, but not be limited to, such items as baseball, football, soccer, bicycling, track and field, and group or team games.

%h3 Pioneering Skills Branch

%p Gaining basic understanding of woodcraft, hiking, exploration, and camping skills. This branch would include, but not be limited to, such items as learning knots and lashings, proper use of knives (Mountain Lions only), Tread Lightly (outdoor principles), navigation, and plant/animal/hazard identification.

%h3 Sci & Tech Branch

%p An exploration of physical and natural science concerning our created world. Woodlands Trail program developers recognize the extreme importance of science and technology skills in life today. Entire schools are devoted to the study of Science, Technology, Engineering, and Math (S.T.E.M.). Trailmen would be more likely to benefit from hands-on events and overnight outings. Several meeting plans involving science and technology have been provided. Additional meetings providing leaves for this branch would involve outings to unique local sites. Trailmen could take advantage of such things as: science labs, factory tours, mines, beaches, ships, quarries, planetariums, museums, observatories, aquariums, hospitals, airports, aquaculture farms, veterinarian office, broadcasting stations, children’s hands- on science centers, nature centers, commercial caves, and farms. In the absence of these options, the Troop could plan science and technology fairs or other events to expose the boys to S.T.E.M. Trail Guides are expected to plan and organize these local opportunities.

%h3 Heritage Branch

%p Instilling biblically based values within the boys regarding any number of pertinent topics. A central focus of this branch are teachings of the Christian faith.

:javascript
  $('#event_starts_at').datepicker({format: "yyyy-mm-dd", todayBtn: "linked"});

/ $('#xevent_starts_at').datetimepicker({dateFormat: "yyyy-mm-dd"});