= simple_form_for(@event) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.association :location
    = f.input :service
    = f.input :heritage
    = f.input :hobbies
    = f.input :hobbies
    = f.input :life_skills
    = f.input :outdoor_activities
    = f.input :pioneer_skills
    = f.input :sci_tech
    = f.input :values
    = f.input :start
    = f.input :finish
    = f.input :description

  .form-actions
    = f.button :submit
