=title @event.name

.row
  .col.s8 &nbsp;
  .col.s2= link_to "<i class='material-icons'>mode_edit</i>".html_safe, edit_event_path(@event), :class => "btn waves-effect waves-light" if can? :edit, @event
  .col.s2.text-right= link_to "<i class='material-icons'>delete_forever</i>".html_safe,  { action: "destroy", id: @event.id }, method: :delete, :class => "btn waves-effect waves-light amber", data: { confirm: "Are you sure?" } if can? :destroy, @event

%h4= event_dtg(@event)
%p
  %b Description:
  = @event.description

%h4 Leaves
.row
  = leaf_header(@event)