.row.valign-wrapper
  .col.s12.m8.valign
    =title(@title)
  .col.s12.m4.valign.right-align
    = link_to micon('add'), new_event_path, {class: 'btn-floating btn-large waves-effect waves-light'} if can? :create, Event

.row.center-align
  = paginate @events

%table.striped.bordered
  %thead
    %tr
      %th Event
      %th.text-center Date
      %th.text-center= tooltip('S','Service Hours')
      %th.text-center= tooltip('H','Heritage')
      %th.text-center= tooltip('B','Hobbies')
      %th.text-center= tooltip('L','Life Skills')
      %th.text-center= tooltip('O','Outdoor Activities')
      %th.text-center= tooltip('P','Pioneering Skills')
      %th.text-center= tooltip('T','Science & Technology')
      %th.text-center= tooltip('V','Values')

  = render :partial => @events