.row
  .col-xs-5
    = show_map(@event.location)
  .col-xs-7
    =title @event.name
    .h3= event_dtg(@event)
    %p
      %strong Address:
      =@event.address
    %p
      %strong Description:
      = @event.description

%div
  %strong Description:
  = @event.description

%table.table.table-bordered
  =render :partial => 'shared/leaf_header_full'
  %tr
    %td.center= @event.service
    %td.center= @event.heritage
    %td.center= @event.hobbies
    %td.center= @event.life_skills
    %td.center= @event.outdoor_activities
    %td.center= @event.pioneer_skills
    %td.center= @event.sci_tech
    %td.center= @event.values

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
\|
= link_to 'Destroy', @event,  :method => :delete

