= render :partial => "events/header"

%h2 Roster

%h3 Present

%div#present
  = render :partial => 'attendances/attendance', :collection => @attendees
      
%h3 Absent

%div#absent
  =render :partial => "events/candidate", :collection => @candidates

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
\|
= link_to 'Destroy', @event,  :method => :delete

