%h1 Listing ranks


- if can? :manage, Rank
  %table
    %tr
      %th Name
      %th Boy
      %th Is current
      %th Service
      %th Heritage
      %th Hobbies
      %th Life skills
      %th Outdoor activities
      %th Pioneer skills
      %th Sci tech
      %th Values
      %th Start
      %th Finish
      %th Awarded

    - @ranks.each do |rank|
      - next if rank.nil? or rank.boy.nil?
      %tr
        %td= link_to rank.name, rank
        %td= rank.boy.name
        %td= rank.is_current
        %td= rank.service
        %td= rank.heritage
        %td= rank.hobbies
        %td= rank.life_skills
        %td= rank.outdoor_activities
        %td= rank.pioneer_skills
        %td= rank.sci_tech
        %td= rank.values
        %td= rank.start
        %td= rank.finish
        %td= rank.awarded
    
%br

= link_to 'New Rank', new_rank_path if can? :manage, Rank
