%table.table.table-bordered
  %tr
    %th <abbr title='Service Hours'>S</abbr>
    %th <abbr title='Heritage'>H</abbr>
    %th <abbr title='Hobbies'>B</abbr>
    %th <abbr title='Life Skills'>L</abbr>
    %th <abbr title='Outdoor Activities'>O</abbr>
    %th <abbr title='Pioneering Skills'>P</abbr>
    %th <abbr title='Science & Technology'>T</abbr>
    %th <abbr title='Values'>V</abbr>
  %tr
    %td= subdue_zero(@boy.current_rank.service || 0)
    %td= subdue_zero(@boy.current_rank.heritage || 0)
    %td= subdue_zero(@boy.current_rank.hobbies || 0)
    %td= subdue_zero(@boy.current_rank.life_skills || 0)
    %td= subdue_zero(@boy.current_rank.outdoor_activities || 0)
    %td= subdue_zero(@boy.current_rank.pioneer_skills || 0)
    %td= subdue_zero(@boy.current_rank.sci_tech || 0)
    %td= subdue_zero(@boy.current_rank.values || 0)

%table.table
  %thead
    %tr
      %th{:width => "25%"} Category
      %th{:width => "15%"} Color
      %th{:colspan => 2} Leaves
  %tbody
    %tr
      %td{:colspan => 2} (S) Service Hours
      %td= subdue_zero(@boy.current_rank.service || 0)
      %td &nbsp;
    %tr
      %td (H) Heritage
      %td Brown
      %td= subdue_zero(@boy.current_rank.heritage || 0)
      %td= show_leaves(@boy.current_rank.heritage)
    %tr
      %td (B) Hobbies
      %td Black
      %td= subdue_zero(@boy.current_rank.hobbies || 0)
      %td= show_leaves(@boy.current_rank.hobbies)
    %tr
      %td (L) Life Skills
      %td Burgundy
      %td= subdue_zero(@boy.current_rank.life_skills || 0)
      %td= show_leaves(@boy.current_rank.life_skills)
    %tr
      %td (O) Outdoor Activities
      %td Green
      %td= subdue_zero(@boy.current_rank.outdoor_activities || 0)
      %td= show_leaves(@boy.current_rank.outdoor_activities)
    %tr
      %td (P) Pioneer Skills
      %td Blue
      %td= subdue_zero(@boy.current_rank.pioneer_skills || 0)
      %td= show_leaves(@boy.current_rank.pioneer_skills)
    %tr
      %td (T) Sci Tech
      %td Yellow
      %td= subdue_zero(@boy.current_rank.sci_tech || 0)
      %td= show_leaves(@boy.current_rank.sci_tech)
    %tr
      %td (V) Values
      %td Red
      %td= subdue_zero(@boy.current_rank.values || 0)
      %td= show_leaves(@boy.current_rank.values)
