%tr
  %td.col-xs-4
    = link_to keep(woodland.name), boy_path(woodland.slug)
    = " (#{woodland.current_rank.grace})"
  %td.col-xs-1.right
    = woodland.current_rank.service
    %small.text-muted hrs
  %td.col-xs-1.right= subdue_zero(woodland.current_rank.heritage)
  %td.col-xs-1.right= subdue_zero(woodland.current_rank.hobbies)
  %td.col-xs-1.right= subdue_zero(woodland.current_rank.life_skills)
  %td.col-xs-1.right= subdue_zero(woodland.current_rank.outdoor_activities)
  %td.col-xs-1.right= subdue_zero(woodland.current_rank.pioneer_skills)
  %td.col-xs-1.right= subdue_zero(woodland.current_rank.sci_tech)
  %td.col-xs-1.right= subdue_zero(woodland.current_rank.values)