- r = woodland.current_rank
%tr
  %td.col.s4
    - if can? :read, Bonum
      = " (#{woodland.grade})"
      = link_to woodland.name, boy_path(woodland.slug)
    -else 
      = keep(woodland.name)

  %td.col.s1.right
    = r.service
    %small.text-muted hrs
  %td.col.s1.right= subdue_zero(r,'heritage')
  %td.col.s1.right= subdue_zero(r,'life_skills')
  %td.col.s1.right= subdue_zero(r,'sci_tech')
  %td.col.s1.right= subdue_zero(r,'hobbies')
  %td.col.s1.right= subdue_zero(r,'values')
  %td.col.s1.right= subdue_zero(r,'outdoor_activities')
  %td.col.s1.right= subdue_zero(r,'pioneer_skills')