%tr
  %td.col-xs-4= link_to boy.name, boy
  %td.col-xs-1.right
    = boy.current_rank.service
    %small.text-muted hrs
  %td.col-xs-1.right= subdue_zero(boy.current_rank.heritage)
  %td.col-xs-1.right= subdue_zero(boy.current_rank.hobbies)
  %td.col-xs-1.right= subdue_zero(boy.current_rank.life_skills)
  %td.col-xs-1.right= subdue_zero(boy.current_rank.outdoor_activities)
  %td.col-xs-1.right= subdue_zero(boy.current_rank.pioneer_skills)
  %td.col-xs-1.right= subdue_zero(boy.current_rank.sci_tech)
  %td.col-xs-1.right= subdue_zero(boy.current_rank.values)