.card-panel
  .row
    = form_for(@boy.becomes(Boy), html: {class: 'col s12' }) do |f|
      .row
        .input-field.col.s12
          = f.text_field :name, :class => 'validate'
          = f.label :name
      .row
        .input-field.col.s12
          = f.check_box :active, :class => 'filled-in validate'
          = f.label :active
      .row
        .input-field.col.s12
          = f.select(:grade, options_for_select(boy_grade_select(),@boy.grade), {}, {:class => 'browser-default validate', :prompt => 'What is his grade?'})

      .row
        .form-actions
          = f.button :submit, :class => 'btn btn-primary'
          or 
          = link_to "Cancel", :back

:javascript
  $(document).ready(function() {Materialize.updateTextFields(); });
