
= simple_form_for(@boy.becomes(Boy), html: {class: 'form-horizontal' }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :active, as: :boolean, boolean_style: :inline
    = f.input :grade, collection: [["0 - Kindergarden (Fox)",0], ["1 - First Grade (Fox)",1], ["2 - Second Grade (Hawk)",2], ["3 - Third Grade (Hawk)",3], ["4 - Fourth Grade (Lion)",4], ["5 - Fifth Grade (Lion)",5] ]

  .form-actions
    = f.button :submit
    or
    = link_to "Cancel", :back
