
= simple_form_for(@boy.becomes(Boy), html: {class: 'form-horizontal' }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    / = f.association :current_rank
    = f.association :patrol


  .form-actions
    = f.button :submit
    or
    = link_to "Cancel", :back
