
= simple_form_for(@boy.becomes(Boy), html: {class: 'form-horizontal' }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    / = f.association :current_rank
    = f.association :patrol
    /= f.input :grace, collection: [["0 - Y1 - Jul/Aug/Sep",0],["2 - Y1 - Oct/Nov/Dec",2],["4 - Y1 - Jan/Feb/Mar",4],["6 - Y1 - Apr/May/Jun",6],["8 - Y2 - Jul/Aug/Sep",8],["10 - Y2 - Oct/Nov/Dec",10],["12 - Y2 - Jan/Feb/Mar",12],["14 - Y2 - Apr/May/Jun",14]]
    = f.input :active, as: :boolean, boolean_style: :inline
    = f.input :grade, collection: [["0 - Kindergarden",0], ["1 - First Grade",1], ["2 - Second Grade",2], ["3 - Third Grade",3], ["4 - Fourth Grade",4], ["5 - Fifth Grade",5]]
    = f.fields_for @rank do |r|
      = r.input :grace, collection: [["0 - Y1 - Jul/Aug/Sep",0],["2 - Y1 - Oct/Nov/Dec",2],["4 - Y1 - Jan/Feb/Mar",4],["6 - Y1 - Apr/May/Jun",6],["8 - Y2 - Jul/Aug/Sep",8],["10 - Y2 - Oct/Nov/Dec",10],["12 - Y2 - Jan/Feb/Mar",12],["14 - Y2 - Apr/May/Jun",14]]

  .form-actions
    = f.button :submit
    or
    = link_to "Cancel", :back
