%p#notice= notice

= title(@boy.name)

.row.valign-wrapper
  .col.s9.valign
    %h4
      %b= "#{@boy.current_rank.to_s.titleize}"
      = "(Active)" if @boy.active
      = "(Inactive)" unless @boy.active
      = ", #{show_grade(@boy.grade)}"
  .col.s3.valign
    = link_to "<i class='material-icons'>mode_edit</i>".html_safe, edit_boy_path(@boy), :class => "btn waves-effect waves-light" if can? :edit, @boy

%p
  Rank started at
  = @boy.rank.created_at.strftime('%d %B %Y')

- if @boy.ranks.count > 1
  %hr
  %h4 Other Ranks tracked:

  %ul
    - (@boy.ranks - [@boy.rank]).each do |r|
      %li
        = r.name.titleize
        = r.created_at.strftime("%m/%d/%Y")


%h3 Medical Form

.row
  .col.s4 Medical Updated
  .col.s4= @boy.medical_on
  - if can? :edit, @boy
    .col.s4.right-align
      %a{href: '#medical_form', class: "waves-effect waves-light btn modal-trigger"} Update

%div#medical_form.modal{style: "height: 100%;"}
  .modal-content
    %h3 Medical Form Date
    .row
      = form_for(@boy.becomes(Boy)) do |f|
        .row
          .input-field.col.s12
            = f.text_field :medical_on, class: 'datepicker validate', type: 'date'
            = f.label :medical_on
        .row
          .input-field.col.s12
          = f.button :submit, :class => 'btn btn-primary'

  .modal-footer
    %a{href: '#!', class: "modal-action modal-close waves-effect waves-green btn-flat"} Close

%h2 Progress

=render :partial => "#{@boy.type.downcase}s/progress"

-unless @boy.awards.empty?
  %h2 Achievements

  = render :partial => @boy.awards


%h2 Bonus Leaves

%p.right-align
  = link_to 'Add Bonus', new_boy_bonum_path(@boy), :class => "hidden-print btn btn-primary" if can? :edit, Bonum

%table.bordered
  %thead
    %tr
      %th{width: "35%"} Activity
      %th{width: "35%"} Leave Summary
      %th{width: "15%"} Reported by
      %th{width: "15%"} Reported on
  %tbody
    = render :partial => @boy.current_rank.bonums

%h2 Attendance

%table.striped.bordered.highlight
  %thead
    %tr
      %th{:scope => 'col'} Event
      %th{:scope => 'col'} Date
      %th{:scope => 'col'} <abbr title='Service Hours'>S</abbr>
      %th{:scope => 'col'} <abbr title='Heritage'>H</abbr>
      %th{:scope => 'col'} <abbr title='Hobbies'>B</abbr>
      %th{:scope => 'col'} <abbr title='Life Skills'>L</abbr>
      %th{:scope => 'col'} <abbr title='Outdoor Activities'>O</abbr>
      %th{:scope => 'col'} <abbr title='Pioneering Skills'>P</abbr>
      %th{:scope => 'col'} <abbr title='Science & Technology'>T</abbr>
      %th{:scope => 'col'} <abbr title='Values'>V</abbr>
  %tbody
    = render :partial => @events.reverse

:javascript
  var input = $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    format: 'yyyy-mm-dd',
    selectYears: 1
  });
  var picker = input.pickadate('picker')