%p#notice= notice

= title( @boy.name)

%p
  %b Level:
  = "#{@boy.type}, #{@boy.current_rank.to_s}"

%p
  %b Grace:
  = @boy.grace
  %p.small Grace points are given to boys who arrive later in the rank cycle (e.g. 3rd Grade Hawk) to give them a chance to advance.

%p
  %b Patrol:
  = @boy.patrol.name

= link_to 'Edit', edit_boy_path(@boy), :class => "btn btn-primary"

%h2 Progress

=render :partial => "#{@boy.type.downcase}s/progress"

%h2 Achievements

= render :partial => @boy.awards

%h2 Attendance

%table.table.table-bordered
  %tr
    %th Event
    %th <abbr title='Service Hours'>S</abbr>
    %th <abbr title='Heritage'>H</abbr>
    %th <abbr title='Hobbies'>B</abbr>
    %th <abbr title='Life Skills'>L</abbr>
    %th <abbr title='Outdoor Activities'>O</abbr>
    %th <abbr title='Pioneering Skills'>P</abbr>
    %th <abbr title='Science & Technology'>T</abbr>
    %th <abbr title='Values'>V</abbr>

  = render :partial => @events