- if attendance.nil?
  %div{:class => "row candidate #{(get_row() % 2 == 0) ? 'even' : 'odd'}"}
    %div.col.s12 Missing boy.
- else
	%div{:class => "row candidate #{(get_row() % 2 == 0) ? 'even' : 'odd'}"}
	  %div.col.s1= count_attendee()
	  %div.col.s6= link_to attendance.name, attendance.boy.becomes(Boy)
	  %div.col.s2= attendance.rank.name.titleize
	  %div.col.s1 &nbsp;
	  %div.col.s2= link_to "<i class='material-icons'>highlight_off</i>".html_safe, del_event_attendance_path(@event, attendance), class: "btn amber", :remote => true if can? :edit, @event