= title(@event.name + " Event Attendees")

= render :partial => "events/header"

%h2 Attendees

%table.table
  %tr
    %th Boy
    %th

  - @attendees.each do |attendee|
    %tr
      %td= link_to attendee.boy.name, boy_path(attendee.boy.id)
      %td= link_to 'Remove', attendee, :method => :delete
      
%h2 Did Not Attend

%table.table
  %tr
    %th Boy
    %th Event
    %th

  - @candidates.each do |boy|
    %tr
      %td= boy.name
      %td= link_to 'Add to Event?', add_event_attendance_path(@event.id, boy.id)
