
- unless user_signed_in?
  %li= link_to 'Sign in', new_user_session_path, {:class => 'btn'}
  %li= link_to 'Sign up', new_user_registration_path

- else
  - if can? :read, Event
    %li= link_to 'Events', events_path 
  - if can? :read, Template 
    %li= link_to 'Templates', templates_path

  %li= link_to "Help / Problem", "https://github.com/Merovex/leaf-blower#readme"

  %li= link_to 'Edit account', edit_user_registration_path
  %li= link_to 'Sign out', destroy_user_session_path, :method=>'delete'
  
  - if can? :crud, User
    - if r
      %li
        %a.dropdown-button{"data-activates" => "admin-menu", :href => "#!"}
          Admin
          %i.material-icons.right arrow_drop_down
    - else
      %li.divider
      %ul
        %li= link_to 'Users', users_path
        %li= link_to 'Ranks', ranks_path 
        %li= link_to 'Locations', locations_path 
        %li= link_to 'Troops', packs_path
        %li= link_to 'Patrols', patrols_path
