!!!
%html
  %head
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker.css'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.js'
    = csrf_meta_tags
    %title= content_for?(:title) ? yield(:title) : 'Leaf Tracker'
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Leaf Tracker'}"}
  %body
    #wrapper
      %header
        = render 'layouts/navigation'
      %main{:role => "main"}
        .container
          .row
            .col-sm-8.col-xs-12
              = render 'layouts/messages'
              %ol.breadcrumb
                = render_breadcrumbs :tag => :li, :separator => ""
              = yield
            .col-sm-4.col-xs-12
              .ul.list-group
                - if can? :read, Rank
                  .li.list-group-item= link_to 'Ranks', ranks_path 
                - if can? :read, Location
                  .li.list-group-item= link_to 'Locations', locations_path 
                - if can? :read, Boy
                  .li.list-group-item= link_to 'Boys', boys_path 
                - if can? :read, Pack
                  .li.list-group-item= link_to 'Packs', packs_path 
                - if can? :read, Patrol
                  .li.list-group-item= link_to 'Patrols', patrols_path
                - if can? :read, Event
                  .li.list-group-item= link_to 'Events', events_path 
                - if can? :read, Template 
                  .li.list-group-item= link_to 'Templates', templates_path 
      %footer{:id => "main-footer"}
        #bottom-footer.container
          .pull-left
            %p
              %strong
                %a{:href => ""} Ben Wilson
              Copyright &copy; 2014. |
              %strong
                %a{:href => "/site/about"} About
              |
              %strong
                %a{:href => "/site/compendium"} Compendium
              |
              %strong
                %a{:href => "/site/terms"} Terms
              |
              %strong
                %a{:href => "/site/privacy"} Privacy
          .pull-right
            %p
              Contact at
              %strong
                %a{:href => "mailto:dausha@gmail.com"} dausha@gmail.com
