!!!
%html
  %head
    %link{:href => "http://fonts.googleapis.com/icon?family=Material+Icons|Droid+Serif:400,400italic,700,700italic|Droid+Sans:400,400italic,700,700italic", :rel => "stylesheet"}
    
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker.css'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'
    
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.js'
    = csrf_meta_tags

    %title= content_for?(:title) ? yield(:title) : 'Leaf Tracker'
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Leaf Tracker'}"}
  %body
    #wrapper
      %header.hidden-print
        = render 'layouts/navigation'
      %main{:role => "main"}
        .container
          .row
            .col.m8.col.s12
              = render 'layouts/messages'
              %div
                = render_breadcrumbs :separator => " > "
              = yield
            .col.m4.col.s12.hidden-print
              %ul.list-group.hidden-print
                - if can? :read, Rank
                  .li.list-group-item= link_to 'Ranks', ranks_path 
                - if can? :read, Location
                  .li.list-group-item= link_to 'Locations', locations_path 
                - if can? :read, Pack
                  .li.list-group-item= link_to 'Packs', packs_path 
                - if can? :read, Patrol
                  .li.list-group-item= link_to 'Patrols', patrols_path
              - unless @activities.nil?
                %h2.hidden-print
                  Activities
                %div.container.hidden-print
                  - @activities.each do |activity|
                    = render_activity(activity)
                      
      %footer{:id => "main-footer"}
        #bottom-footer.container
          .pull-left
            %p
              %strong
                %a{:href => ""} Ben Wilson
              Copyright &copy; 2014. |
              %strong
                %a{:href => "/site/about"} About
              |
              %strong
                %a{:href => "/site/compendium"} Compendium
              |
              %strong
                %a{:href => "/site/terms"} Terms
              |
              %strong
                %a{:href => "/site/privacy"} Privacy
          .pull-right
            %p
              Contact at
              %strong
                %a{:href => "mailto:dausha@gmail.com"} dausha@gmail.com
